@import '~bootstrap/scss/bootstrap';
$alt-color: $white;
$body-bg-color: $gray-200;
$font-color: $black;
$column-color: rgb(105, 119, 127);
$black: #000;
$success-background: #0f0;
$border-width: 7px solid black;

body {
  background-color: rgb(96, 194, 244);
}
#radio-select {
  height: 80px;
  background-color:  #b0eb00;
}
.box {
  background-color: #a6a6a6;
  border: 1px solid $white;
  display: flex;
  position:relative;
  height: 700px;
  padding: 10px 10px 20px;
}
// .successful-loginbox {
//   background-color: #fff;
//      border: solid 2px #fff;
//      box-shadow:
//          inset 60px 0 120px #fff,  /* left magenta */
//          inset -60px 0 120px #0ff; /* right cyan */
// }
.sign-form{
  justify-content: center;
  padding: 10px 30px 50px;
  position:absolute;
  top: 0px;
  left: 0px;
  visibility: hidden
}
#message {
  margin: auto;
}
input[type="submit"]{
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

input[type="submit"] :hover {
  background-color: #555555;
  color: white;
}
nav {
  display: inline-flex;
  height: fit-content;
  width: inherit;
}
.dash-board{
  display: grid;
    grid-template-columns: auto auto auto;
    visibility: hidden;
}
[id="0"],[id="1"],[id="2"]{
  border-top: none;
  pointer-events: auto;
}
[id="0"],
[id="3"],
[id="6"], {
  border-left: none;
  pointer-events: auto;

}
[id="6"],
[id="7"],
[id="8"]{
  border-bottom: none;
  pointer-events: auto;

}

[id="2"],
[id="5"],
[id="8"] {
  border-right: none;
  pointer-events: auto;
}
[id="4"]{
  border-style: ridge;
  pointer-events: auto;

}

button {
  width: 100px;
  height: 133px;
  border: 3px solid black;
}
.success {
  color: $success-background;
}

.failure {
  color: #f00;
}

.alt-color {
  background-color: $alt-color;
}

.column-color {
  background-color: $white;
}
