@import '~bootstrap/scss/bootstrap';
$alt-color: $white;
$body-bg-color: $gray-200;
$font-color: $black;
$column-color: #007bff8c;
$black: #000;
body {
  background-color: $body-bg-color;
}
#radio-select {
  height: 80px;
  background-color: green;
}
.sign-form{
  justify-content: center;
  padding: 10px;
  position:absolute;
  top: 0px;
  left: 0px;
  visibility: hidden
}
.box {
  background-color: white;
  border: 1px solid $white;
  display: flex;
  position:relative;
  height: 700px;
  padding: 10px 50px 20px;
}

.alt-color {
  background-color: $alt-color;
}
.column-color {
  background-color: $column-color;
}
$success-background: #0f0;
.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.success {
  color: $success-background;
  background-color:  $black;
}

.failure {
  color: #f00;
  background-color: $black;
}
